easydict==1.13
mpmath==1.3.0
mxnet-cu116==1.9.1
networkx==3.2.1
numpy==1.23.1
opencv-python==4.10.0.82
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.8.1
tensorboard==2.17.0
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
wandb==0.17.4
boto3
sagemaker
fastapi
pydantic
uvicorn
async_generator
